<%inherit file="base.html"/>

<%block name="body_class">post-list</%block>

<%block name="body">
<%! import settings %>

<div class="post-list">
% if list_desc:
  <h3 class="post-list-desc">${list_desc}</h3>
% endif

% for post in posts:
  <div class="post-container">
    <div class="post-meta">
      <h2>&gt;&gt;&gt;</h2>
      % if settings.get('BREEV') and post.id:
        <div class="post-id">${settings.BREEV} #${post.id}</div>
      % endif

      <div class="post-author">
	<a href="/author/${self.slugify(post.author)}.html">${post.author}</a>
      </div>
      <div class="post-date">${self.print_date(post.pub_date)}</div>
      % if post.tags:
        <br/>
        <ul class="tags">
	  % for tag in sorted(post.tags, key=len):
	    <li><a href="/tag/${self.slugify(tag)}.html">${tag}</a></li>
	  % endfor
	</ul>
      % endif
    </div>
    <div class="post-content-container">
      <div class="post-heading">
	<h2 class="post-title"><a href="${post.get_url()}">${post.title}</a></h2>
      </div>
      ${post.get_html(content_only=True)}
      <br/>
      (<a data-disqus-identifier="${post.slug}" href="${post.get_url()}#disqus_thread">comments</a>)
    </div>
    
  <hr/>
  </div>
% endfor
</div>

% if cur_page:
  ${self.paging_controls(cur_page, last_page)}
% endif

<script type="text/javascript">
    var disqus_shortname = "${settings.DISQUS_SHORTNAME}";

    (function () {
        var s = document.createElement('script'); 
        s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</%block>
