<%inherit file="base.html"/>

<%block name='body_class'>post_list</%block>

<%block name="body">
<% import settings %>
% if cur_page:
  ${self.paging_controls(cur_page, last_page)}
% endif

% for post in posts:
   <a href="/posts/${post.slug}.html"><h2>${post.title}</h2></a> 
   (<a data-disqus-identifier="${post.slug}" href="/posts/${post.slug}.html#disqus_thread">comments</a>)
   <p>
     ${post.get_html(content_only=True)}
   </p>
   <hr/>
% endfor


<script type="text/javascript">
    var disqus_shortname = ${settings.DISQUS_SHORTNAME};

    (function () {
        var s = document.createElement('script'); 
        s.async = true;
        s.type = 'text/javascript';
        s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
</%block>
